<div  th:fragment="bodyleft" class="content">
    <div class="inner-content">
        <h1 class="catalog_title">Каталог товаров</h1>
        <a class="btn" href="#">Одежда для девочек</a>
        <a class="btn" href="#">Одежда для мальчиков</a>
        <a class="btn" href="#">Обувь для девочек</a>
        <a class="btn" href="#">Обувь для мальчиков</a>
        <a class="btn" href="#">Аксессуары</a>
        <a class="btn" href="#">Коляски</a>
        <a class="btn" href="#">Автокресла</a>
        <a class="btn" href="#">Игрушки</a>
        <a class="btn" href="#">Новорожденным</a>
    </div>
</div>