<div   th:fragment="header" class="wraper">
    <div class="header">
        <div class="row-header">
            <div class="header_logo">BabyShop</div>
        <div class="inner-header">

            <nav class = "nav">
                <a class="nav_link" href="/main">Home</a>
                <a class="nav_link"  href="#">Features</a>
                <a class="nav_link" href="#">Shop</a>
                <a class="nav_link" href="/contact">Contact</a>
                <a class="nav_link"  href="/about">About</a>
            </nav>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-white text-bg-white" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
                <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
        </div>
        </div>
    </div>
</div>